# Core functionality - changes here should be rare!
/src/app.py                   @kairat-ux
/src/backend/database.py      @kairat-ux
/src/backend/routers/auth.py  @kairat-ux

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kairat-ux
